*{
    font-family: 'Pacifico', cursive;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212121;
    color: #72FFFF; 
}

.App{
    align-items: center;
    justify-content: center;
    text-align: center;
}